################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppsJSCLI2/.vs/AppsJSCLI2
/AppsJSCLI2/bin
/AppsJSCLI2/.config
/AppsJSCLI2/obj
/AppsJSCLI2/Properties
