.AppContentStyle {
    width:100%;
    position:absolute;
    top:51px;
    z-index:300;
    background-color:white;
    border: 3px solid lightgrey;
}
.Test_List_TemplateContent_Style {
    margin-left: -66px;
    width: 98vw;
    height: 100%;
    
}