.Apps_App_DivStyle {
    margin: 20px;
    width: 15vw;
    height: 15vh;
    border: 2px solid darkgrey;
    border-radius: 6px;
    position: relative;
    display:inline-block;
}
.Apps_MachinePing_Style {
    cursor: pointer;
    border: 2px solid darkgrey;
    border-radius: 3px;
    padding: 1px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 3.5vh;
    width: 1.5vw;
    padding-left: 2px;
    min-width: 24.5px;
    min-height: 26px;
}
.Apps_AppEdit_Button {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.Apps_TitleLabel_Style {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 2.7vw;
    border: 2px solid darkgray;
    border-radius: 3px;
    padding: 1px;
    height: 3.5vh;
    width: 1.5vw;
    min-width: 24.5px;
    min-height: 26px;
}
.iconcontainer {
    font-size: 2.5vh;
    position: relative;
    top: .01vh;
    left: .14vw;
}
.Apps_SystemContainer_DivStyle {
    margin:20px;
    padding-top:17px;
    border: 2px solid darkgrey;
    border-radius: 6px;
    display: flex;
    width: fit-content;
}