<script id="Create_Software_List_Template" type="text/template">
    <div class="btn btn-warning" onclick="Apps.Components.Create.New('net_core_web_service');">.Net Core Web Service</div>
</script>

<script id="App_Create_Template" type="text/template">

    <div id="App_Create_Files_Container">

        <h2>Create Project</h2>
        <p>Create a project that includes the following components and parameters.</p>
        <h3>Name</h3>
        <p>This name (no spaces) will be the identifying word representing the project.</p>
        <input id="App_Create_Project_Name" type="text" class="form-control" />
        <textarea id="App_Create_Project_Config_Editor" style="height:500px;"></textarea>
    </div>

</script>
