
<div style="height:0px;width:100%;">
    <div onclick="Apps.Components.Home.Hide();" style="float: right;    cursor: pointer;    position: relative;    top: -16px;    font-size: 22px;    left: 5px;">
        X
    </div>
</div>

<div id="Home_LoginContainer"></div>
<div id="Home_WebRootSearchContainer">

    <h2>Where's your repo or project web root?</h2>
    <p>AJP will search for any AppsJS projects.</p>
    <table style="width: 100%;">
        <tr>
            <td>
                <input id="Index_WebRootFolder" type="text" class="form-control" />
            </td>
            <td>
                <div class="btn-group">
                    <div class="btn btn-warning" onclick="Apps.Components.Home.View();">View</div>
                    <div class="btn btn-warning" onclick="Apps.Components.Home.Search();">Search</div>
                    <!--<div class="btn btn-info" onclick="ValidateWebRootAndView();">View</div>-->
                </div>
            </td>
        </tr>
    </table>
    <div id="Home_FoundProjectsContainer"></div>
    <!--<p>Enter a valid web root folder (e.g. "C:\Repos\MySite\src") and AppsJS will find and validate an existing or create a new AppsJS instance under this folder.</p>-->
</div>
