
<script id="AppTabstrip" type="text/template">

    <div class="btn btn-warning"
         style="position:absolute;right:10px;cursor:pointer;margin:10px;margin-right:25px;z-index:300;"
         onclick="Apps.Components.Apps.CloseAppView();">Close</div>

    <div id="tabstripApp" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Learn" data-tabstrip-templateid="App_Learn_Template"></div>
        <div data-tabstrip-tabtitle="Plan" data-tabstrip-templateid="App_Plan_Template"></div>
        <div data-tabstrip-tabtitle="Create" data-tabstrip-templateid="App_Create_Template"></div>
        <div data-tabstrip-tabtitle="Test" data-tabstrip-templateid="App_Test_Template"></div>
        <div data-tabstrip-tabtitle="Publish" data-tabstrip-templateid="App_Publish_Template"></div>
        <div data-tabstrip-tabtitle="Track" data-tabstrip-templateid="App_Track_Template"></div>
    </div>

</script>

<script id="EditApp" type="text/template">

    <!--
        0 = App Name
        1 = "checked" (or not)
        2 = System ID
        3 = App ID
        4 = Machine name
        5 = Working folder
        6 = Project file
        7 = Project file exists
    -->
    <h3>App Name</h3>
    <input id="Apps_EditAppName_Textbox" type="text" class="form-control" value="{0}" />

    <h3>Software Type</h3>
    <select id="Apps_EditSoftwareType_Select" class="form-control"></select>

    <h3>App Description</h3>
    <input id="Apps_EditAppDescription_Textbox" type="text" class="form-control" value="{0}" />

    <h3>Enabled</h3>
    <input id="Apps_EditAppEnabled_Checkbox" type="checkbox" {1} data-toggle="toggle" style=" width: 25px; height: 25px;" />

    <h3>Machine Name</h3>
    <input id="Apps_EditApp_MachineName_Textbox" type="text" class="form-control" value="{4}" />

    <h3>Working Folder</h3>
    <input id="Apps_EditApp_WorkingFolder_Textbox" type="text" class="form-control" value="{5}" />

    <h3>Project File</h3>
    <input id="Apps_EditApp_ProjectFile_Textbox" type="text" class="form-control" value="{6}" />

    <h3>Project File Exists</h3>
    <input id="Apps_EditApp_ProjectFileExists_Checkbox" type="checkbox" {7} data-toggle="toggle" style=" width: 25px; height: 25px;" />

    <h3>System</h3>
    <select id="Apps_EditAppSystem_Select" class="form-control"></select>
</script>

<script id="Apps_EditSystem_Template" type="text/template">

    <!--
        0 = System name
        1 = is enabled
    -->
    <h3>System Name</h3>
    <input id="Apps_EditSystemName_Textbox" type="text" class="form-control" value="{0}" />
    <h3>Enabled</h3>
    <input id="Apps_EditAppEnabled_Checkbox" type="checkbox" {1} data-toggle="toggle" style=" width: 25px; height: 25px;" />

</script>


