<div>
    <div class="btn btn-warning" style="float: right;margin:20px;" onclick="Apps.Components.Publish.Tools.Hide();">Close</div>
</div>
<div>
    <h1>Folder Permissions</h1>

    <h3>Folder</h3>
    <textarea id="Apps_Publish_Tools_Perms_Folder_Textarea" class="form-control"></textarea>

    <h3>User</h3>
    <textarea id="Apps_Publish_Tools_Perms_Username_Textarea" class="form-control"></textarea>

    <div class="btn btn-warning" style="margin-top:5px;" onclick="Apps.Components.Publish.Tools.GetPermissions();">Get Permissions</div>

    <div id="Apps_Publish_Tools_Perms_Container"></div>
</div>